<h1>Greetings, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %> </p>
<p>This page has been viewed <%= @times_displayed %> time(s)</p>

<p><%= link_to "Google", "http://www.google.com" %></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>